
#question
{
    margin: 18%;
    margin-top: 7%;
}

.card-body
{
    background-color: thistle;
}

#card3
{
    align-self: center;
}

#questioni
{
    margin: 41%;
    margin-top: 10%;
}

body
{
    background-color: thistle;
}

#b
{
    background-color: thistle;
}