
#question
{
    margin: 37%;
    margin-top: 10%;
}

.card
{
    /* margin: auto; */
    background-color: rgb(0, 119, 255);
}

#questioni
{
    margin: 41%;
    margin-top: 10%;
    font-size: large;
}

#comp
{
    background-color: rgb(124, 222, 247);
}

#inp
{
    background-color: rgb(111, 185, 255);
}

body
{
    background-color: rgb(111, 185, 255);
}