
#question
{
    margin: 38%;
    margin-top: 10%;
}

.card
{
    margin: auto;
    color: black;
}

.card-body
{
    background-color: rgb(145, 102, 185);
}

#questioni
{
    color: black;
    margin: 41%;
    margin-top: 10%;
}

#in
{
    background-color: rgb(198, 156, 238);
}

#comp
{
    background-color: rgb(200, 157, 240);
}

body
{
    background-color: rgb(198, 153, 240);
}