
#question
{
    margin: 38%;
    margin-top: 3%;
}

.card
{
    margin: auto;
    width: auto;
    max-width: 18rem;
    background-color: rgb(14, 201, 201);
}

#questioni
{
    margin: 38%;
    margin-top: 3%;

}

#comp
{
    background-color: rgb(18, 184, 184);
}

body
{
    background-color: rgb(0, 121, 121);
}

#navbutton
{
    background-color: rgb(11, 63, 63);
}