
#question
{
    margin: 39%;
    margin-top: 5%;
}

.card
{
    background-color: aquamarine;
    margin: auto;
}

#questioni
{
    margin: 40%;
    margin-top: 5%;
}

body
{
    background-color: aquamarine;
}

#comp
{
    background-color: aqua;
}