
#question
{
    margin: 37%;
    margin-top: 3%;
}

.card
{
    margin: auto;
    max-width: 18rem;
    width: auto;
    background-color: rgb(6, 199, 199);
}

#questioni
{
    margin: 38%;
    margin-top: 3%;
}

#comp
{
    background-color: rgb(3, 214, 214);
}

body
{
    background-color: teal;
}

#navbutton
{
    background-color: rgb(44, 70, 70);
}