
#question
{
    margin: 38%;
    margin-top: 3%;
}

.card
{
    margin: auto;
    width: auto;
    max-width: 15rem;
    background-color: aqua;
}

#questioni
{
    margin: 35%;
    margin-top: 3%;
}

#inp
{
    background-color: aqua;
}

#comp
{
    background-color: aqua;
}

body
{
    background-color: rgb(11, 161, 161);
}

#navbutton
{
    background-color: rgb(18, 99, 99);
}